# Build folders
bin/
obj/

# User-specific files
*.user
*.suo

# Log files
logs/
*.log

# Visual Studio & VS Code
.vscode/
.vs/

# JetBrains Rider / WebStorm / PyCharm
.idea/

# Temporary files
*.tmp
*.temp

# NuGet Packages
packages/
