@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This web demonstrates a basic Todo List CRUD application built using the ASP.NET Core MVC framework.</p>
</div>
